<?xml version='1.0' encoding='UTF-8'?>
 <!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://omniatechnology.com.br:3306/omnitsge_regulamogi?useSSL=false</property>
		<property name="connection.password">brasilwork07</property>
		<property name="connection.username">omnitsge_root</property>

		<property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
		<property name="show_sql">false</property>
		<property name="format_sql">false</property>
		<property name="hbm2ddl.auto">update</property>

		<!-- Entidades -->
		<mapping class="br.com.regulamogi.domain.EntidadeDominio" />
		<mapping class="br.com.regulamogi.domain.Perfil" />
		<mapping class="br.com.regulamogi.domain.Especialidade" />
		<mapping class="br.com.regulamogi.domain.UnidadeDeSaude" />
		<mapping class="br.com.regulamogi.domain.Conta" />
		<mapping class="br.com.regulamogi.domain.Paciente" />
		<mapping class="br.com.regulamogi.domain.Solicitacao" />
		<mapping class="br.com.regulamogi.domain.Telefone" />

	</session-factory>
</hibernate-configuration>